.App {
  height: 100vh;
}

body {
  background:#f6f9ff;
}

.txtCol {
  color:#012970;
}

.txTcoL {
  color: #4154f1;
}

.bgLight {
  background: #f8f9fa;
}

.fSize {
  font-size: 0.8rem;
}

.fontSize {
  font-size: 0.9rem;
}

.pTop {
  padding-top: 60px;
}

.box:hover {
  color: #4154f1;
  background: rgba(236, 236, 252, 0.527);
}

.bordeR {
  border-top: 0.5px solid #dfdfdf !important;
}

.padLeftSmall {
  padding-left: 320px !important;
  padding-top: 30px !important;
  padding-right: 20px !important;
}

.padLeftBig  {
  padding-top: 30px !important;
  padding-left: 20px !important;
}

.heightMax {
  max-height: 90vh !important;
  overflow-y: scroll;
  max-width: 300px !important;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media screen and (max-width:950px) {
  .padLeft {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }  
}